
body {
  background: darken($primary-color, 10%);
  padding: $padding--standard;
  margin: $margin--none;
  font-size: $font-size--standard;
  scroll-behavior: smooth;
  color: $text-color--light;
}

body::before {
    display: block;
    position: fixed;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(115deg,
      rgba(255,255,255,0.18),
      rgba(255,255,255,0),
      rgba(0,0,0,0.2)
    );
    z-index: -1;
}

body * {
  box-sizing: border-box;
  // color: $text-color--light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  padding: $margin-top-bottom--x-small $padding--none;
  color: $heading-color;
}

h2 {
  border-bottom: 1px solid darken($heading-color, 15%);
}

p, a, div, form, section, main, header, footer {
  font-family: $standard-font;
  max-width: $max-text-width;
  margin: $margin-center--standard;
  line-height: $line-height--standard;
  padding: $padding--none;
}

section, main, header, footer {
  font-family: $standard-font;
  max-width: 100%;
  padding: $padding--none;
  margin: 0;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all $transition-time--long;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  padding: $padding--none;
  margin: $margin--none;

}

a:hover {
  position: relative;
  color: $link-color;
  border-bottom: 1px solid $link-color;
}

label {
  margin: $margin-top-bottom--standard 0;
  margin-bottom: $margin-top-bottom--x-small;
}

label + input,
label + textarea {
  margin-top: $margin-top-bottom--x-small;
}

input, textarea, button, a.link-btn {
  box-sizing: border-box;
  display: block;
  margin-left: 0;
  margin: $margin-top-bottom--standard 0;
  max-width: 100%;
  width: 100%;
  font-family: $standard-font;
  font-size: $font-size--standard;
  padding: $padding--small;
  border: 1px solid lighten($text-color--dark, 20%);
  transition: $transition-all;
  background: none;
  border-radius: $border-radius--standard;
}

a.link-btn {
  font-weight: normal;
}

a.link-btn i {
  color: inherit;
  transition: inherit;
}

textarea {
  min-height: $line-height--standard * 2;
  resize: vertical;
  transition: resize 0s;
}

input:focus,
textarea:focus,
button:focus,
a.link-btn:focus {
  border-color: $primary-color;
  box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0,0,0,0.1);
}

input[type=submit]:first-child,
input[type=button]:first-child,
button:first-child,
a.link-btn:first-child {
  margin-left: 0 !important;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover,
a.link-btn:hover {
  color: $primary-color--light;
  border-color: $primary-color;
  background: $primary-color;
  box-shadow: 0.1em 0.2em 0.2em 0.1em rgba(0,0,0,0.15);
  transform: translateY(-0.15em);
}

input[type=submit]:active,
input[type=button]:active,
button:active,
a.link-btn:active {
  position: relative;
  transform: translateY(0.1em);
}

form {
  & button, input[type=button], input[type=submit] {
    display: inline-block;
    width: auto;
  }
}

dt {
  font-weight: bold;
  margin-top: $margin-top-bottom--standard;
}

dl {
  .dlMeta {
    color: darken($accent-color--second, 40%);
    font-style: italic;
    font-weight: normal;
  }
}
