form,
.hover-card {
  background: $primary-color--light;
  padding: $padding--standard;
  color: $text-color--dark;
  border-radius: $border-radius--standard;
  box-shadow: 0.2em 0.2em 0.4em 0.1em rgba(0,0,0,0.2);

  & * {
    color: $text-color--dark;
  }

  & h1, h2, h3, dt {
    color: darken($heading-color, 30%);
  }

  & h3 {
    margin-top: $margin-top-bottom--standard;
    margin-bottom: 0;
  }

  & h3 + p, h3 + dl {
    margin-top: 0;
    margin-bottom: $margin-top-bottom--standard;
  }
}

.button-ctn {
  margin: $margin--none;

  & input[type=submit],
  input[type=button],
  button {
    display: inline-block;
    width: auto;
    margin: $margin--small;
  }
}

.prettyprint {
  padding: $padding--standard !important;
  overflow: scroll !important;
  font-size: 0.9em !important;
}

code.prettyprint {
  padding: $margin-top-bottom--x-small ($margin-sides--small / 2) !important;
}
