@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto:400,700");
body {
  background: #476da4;
  padding: 1em 1rem;
  margin: 0;
  font-size: 1em;
  scroll-behavior: smooth;
  color: #fff;
}

body::before {
  display: block;
  position: fixed;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
  z-index: -1;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", sans-serif;
  padding: 0.25em 0;
  color: #ced9e9;
}

h2 {
  border-bottom: 1px solid #98b0d2;
}

p, a, div, form {
  font-family: "Roboto", sans-serif;
  max-width: 35em;
  margin: 1em auto;
  line-height: 1.45em;
  padding: 0;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  padding: 0;
  margin: 0;
}

a:hover {
  position: relative;
  color: #B8CC73;
  border-bottom: 1px solid #B8CC73;
}

label {
  margin: 1em 0;
  margin-bottom: 0.25em;
}

label + input,
label + textarea {
  margin-top: 0.25em;
}

input, textarea, button {
  box-sizing: border-box;
  display: block;
  margin-left: 0;
  margin: 1em 0;
  max-width: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 0.5em 0.5rem;
  border: 1px solid gray;
  transition: all 0.2s;
  background: none;
  border-radius: 0.2em;
}

textarea {
  min-height: 2.9em;
  resize: vertical;
  transition: resize 0s;
}

input:focus,
textarea:focus,
button:focus {
  border-color: #6387BB;
  box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.1);
}

input[type=submit]:first-child,
input[type=button]:first-child,
button:first-child {
  margin-left: 0 !important;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  color: #fff;
  border-color: #6387BB;
  background: #6387BB;
  box-shadow: 0.1em 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.15);
  transform: translateY(-0.15em);
}

input[type=submit]:active,
input[type=button]:active,
button:active {
  position: relative;
  transform: translateY(0.1em);
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dl .dlMeta {
  color: #e5b800;
  font-style: italic;
  font-weight: normal;
}

form,
.hover-card {
  background: #fff;
  padding: 1em 1rem;
  color: #4d4d4d;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.2em 0.4em 0.1em rgba(0, 0, 0, 0.2);
}
form *,
.hover-card * {
  color: #4d4d4d;
}

form h1, form h2, form h3, form dt,
.hover-card h1,
.hover-card h2,
.hover-card h3,
.hover-card dt {
  color: #6387bb;
}
form h3,
.hover-card h3 {
  margin-top: 1em;
  margin-bottom: 0;
}
form h3 + p, form h3 + dl,
.hover-card h3 + p,
.hover-card h3 + dl {
  margin-top: 0;
  margin-bottom: 1em;
}
form a,
.hover-card a {
  border-color: #333;
}
form a:hover,
.hover-card a:hover {
  color: #6387bb;
  border-color: #6387bb;
}

.button-ctn {
  margin: 0;
}
.button-ctn input[type=submit],
.button-ctn input[type=button],
.button-ctn button {
  display: inline-block;
  width: auto;
  margin: 0.5em 0.5rem;
}

.prettyprint {
  padding: 1em 1rem !important;
  overflow: scroll !important;
  font-size: 0.9em !important;
}

code.prettyprint {
  padding: 0.25em 0.25rem !important;
}

.r_menu__ctn {
  display: block;
  position: fixed;
  right: 1em;
  top: 0;
  transition: all 0.2s;
  overflow: hidden;
  z-index: 100000000000000;
}

.r_menu__ctn.hover-card .r_menu__button {
  background: none;
  color: #333;
}
.r_menu__ctn.hover-card .r_menu__button:hover {
  background: #6387BB;
  color: #fff;
}
.r_menu__ctn.hover-card .r_menu__button::before {
  display: none;
}

.r_menu__button {
  display: inline-block;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  width: auto;
  margin: 0;
  padding: 0.5em 0.5rem;
  transition: all 0.2s;
  z-index: 100;
  border-color: white;
  color: #fff;
  border-width: 2px;
  background: none;
}

.r_menu__button:hover {
  transform: none;
}

.r_menu__button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(125deg, rgba(99, 135, 187, 0.3), rgba(99, 135, 187, 0.35), rgba(99, 135, 187, 0.5));
  z-index: -1;
}

.r_menu__button:active {
  position: absolute;
  transform: none;
}

.r_menu__nav {
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
  transition: all 0.2s;
  max-width: 1000vw;
  max-height: 1000vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.r_menu__nav a {
  display: block;
  width: auto;
  font-size: 1.25em;
  font-weight: normal;
  border-color: rgba(0, 0, 0, 0);
}

.r_menu__nav--hidden a {
  visibility: hidden;
  opacity: 0;
  transition: all 0;
}

@media screen and (max-width: 700px) {
  .r_menu__ctn {
    width: auto;
  }

  .r_menu__ctn.hover-card {
    margin-left: 1em;
  }

  .r_menu__nav {
    width: 100%;
    height: 100%;
    max-width: auto;
    max-width: auto;
    white-space: normal;
  }
  .r_menu__nav a {
    width: 100%;
    max-width: 100%;
    padding: 0.5em 0;
    border-bottom: 1px solid #6387BB;
  }
  .r_menu__nav a:last-child {
    border-color: rgba(0, 0, 0, 0);
  }
}
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.font-large {
  font-size: 1.5em;
}

.font-medium {
  font-size: 1.25em;
}

.v-margin-large {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.v-margin-small {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.v-margin-standard {
  margin-top: 1em;
  margin-bottom: 1em;
}

.v-margin-none {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-none {
  margin: 0;
}

.padding-large {
  padding: 1.5em 1.5rem;
}

.padding-small {
  padding: 0.5em 0.5rem;
}

.padding-standard {
  padding: 1em 1rem;
}

.padding-none {
  padding: 0;
}

.r_vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.r_full-width {
  width: 100%;
  max-width: 100%;
}

/*# sourceMappingURL=rbrandlib.css.map */
